html{
  background-color: rgb(199, 158, 97);
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  margin: 0;
  width: 100%;
}
#root
{
  height: 100%;
}

.Container {
  background-color: rgb(70, 100, 100);
  width: 100%;
  height: 100%;
}


.Header {
  padding: 5px;
  width: 99%;
  height: 3%;
  background-color: rgb(70, 100, 100);
  text-align: left;
  
}


.ToolBar {
  color: white;
  float: left;
  width: 10%;
  height: 93%;
  background-color: rgb(70, 100, 100);
}


.Content {
  float: left;
  width: 90%;
  height: 93%;
  background-color: #cacaca;
}

.Footer {
  clear: both;
  width: 100%;
  height: 2%;
  font-size: 14px;
  background-color: rgb(70, 100, 100);
  text-align: center;
  align-items: center;
}

#acc{
  all: unset;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
#acc:hover{
  color: black;
  background-color: #dddbdb;
}

details {
  background-color: rgb(47, 74, 97);
  width: 100%;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  max-height: 30px;
}

summary {
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding: 5px;
  list-style: none;
  background-color: rgb(70, 100, 100);
  border-top: 1px solid white;
}

summary:hover {
  background-color: #dddbdb;
  color: black;
}

summary::after {
  content: "| ▼";
  font-size: 12px;
  float: right;
}

details[open] summary::after {
  content: "| ▲";

}

details[open] summary {
  background-color: rgb(47, 74, 97);
}

details[open] {
  max-height: 500px;
}

summary::-webkit-details-marker {
  display: none;
}

.ToolBar button
{
  all: unset;
  cursor: pointer;
  background-color: rgb(47, 74, 97);
  width: 120px;
  color: white;
  padding: 5px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: left;
  font-size: 18px;
}
.ToolBar button:hover{
  color: black;
  background-color: #dddbdb;
}

#search{
  height:max-content;
  width: 150px;
  border-radius: 20px;
  padding: 5px;
  margin-left: 20px;
}

.hbutton{
  all: unset;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.hbutton:hover{
  color: black;
  background-color: #dddbdb;
}

.accMenu {
  position: absolute;  
  top: 40px; 
  right: 0;
  width: 150px; 
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  display: none; 
}

.accMenu.active {
  display: block; 
}

.accButton {
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.accButton:hover {
  background-color: #f0f0f0;
}

